body {
  position: relative;
  height: 100%;
}

header {
  height: 50px;
  border-bottom: 2px;
  border-bottom-style: solid;
  text-align: center;
}

main, #search {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

main {
  max-width: 960px;
}

#search input[name="terms"] {
  width: 100%;
  height: 2em;
  margin-top: 0.5em;
}


.result {
  background-color: red;
}

body {
  font: monospace;
}

h2:before {
  content: '## '
}
em:before {
  content: '*'
}
em:after {
  content: '*'
}

h2, em, p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.dataset { margin-bottom: 0.5em; }
a, a:visited, a:hover, a:active {
  color: inherit;
}
a, a:visited {
  text-decoration: inherit;
}
a:hover, a:active {
  text-decoration: inherit;
}
